* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.projects,
.sign-up {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

p {
  font-size: 1rem;
  color: rgb(102, 205, 223);
  margin: 10px;
}

.about {
  /* background-image: url('images/fromthesky.jpeg'); */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  color: rgb(102, 205, 223);
  font-size: 40px;
}

.projects {
  /* background-image: url('images/fromthesky.jpeg'); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  color: rgb(102, 205, 223);
  font-size: 40px;
}

.sign-up {
  background-image: url('images/fromthesky.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}